test



<form action='/test/' method="POST">
    <div class='form-group'>
        <h3>{{viewTitle}}</h3>

        <ul class="nobullets">
            <li><label>Username</label>
                <input type='text' class='form-controll' name="name" placeholder="Name">
            </li>
            <li><label>Item</label>
                <input type='text' class='form-controll' name="item" placeholder="Apples">
            </li>
            <li><label>Quantity</label>
                <input type='text' class='form-controll' name="quantity" placeholder="0">
            </li>
        </ul>
        <div class="continuetobasket">
            <button type="submit">Continue to Basket</button>
        </div>
    </div>
</form>