
<form action='/user' method="POST" autocomplete="off">
    <input type='hidden' name='_id' value='{{user._id}}'>

   
        <div class='form-group'>
            <h3>{{viewTitle}}</h3>

            <ul class="nobullets">
             
                <li><label>Password</label>
                    <input type='text' class='form-controll' name="password" placeholder="Password" value='{{user.password}}'>
                </li>


                
                <a class="btn btn-secondary" href="/user/login"> login</a>
            </ul>
        </div>
    

</form>