

    <div id="contactus">
        <p>
            Welcome to the Contact Us page!<br>
            If you have any enquiries about any of our<br>
            products, please don't hesitate to get in contact<br>
            with our team.<br>
            Phone: 0208-123-4567<br>
            Email: YouDoYouClothing@YDYC.com<br>
            LinkedIn: YouDoYouClothing<br>
            Facebook: YouDoYouClothing<br>
            Twitter: @YouDoYouClothing<br>
            Instagram: @YouDoYouClothing<br>
        </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="main.js"></script>