<form action='/home/makeReview' method="POST">
  <div class='form-group-Review'>
    <h3>Leave a Review</h3>

    <ul class="nobullets">
      <li><label>Name</label>
        <input type='text' class='form-controll' name="name" placeholder="Name">
      </li>
      <li><label>Product</label>
        <input type='text' class='form-controll' name="product" placeholder="Off-White Air Force 1">
      </li>
      <li><label>Rating</label>
        <input type='text' class='form-controll' name="rating" placeholder="5 out of 5">
      </li>
      <li><label>Comment</label>
        <textarea rows="4" cols="25" name="comment" placeholder="I love this product..."></textarea>
      </li>
    </ul>
    <div class="submitReview">
      <button type="submit">Submit Review</button>
    </div>
  </div>
</form>